// Palette from Rosé Pine <https://rosepinetheme.com>
@media (prefers-color-scheme: light) {
    body {
        background-color: #faf4ed; // Rosé Pine Dawn 'base'
        color: #575279; // Rosé Pine Dawn 'text'
    }
    textarea {
        background-color: #f2e9e1; // Rosé Pine Dawn 'overlay'
    }
    a {
        color: #286983; // Rosé Pine Dawn 'pine'
        text-decoration: none;
    }
    a:hover {
        color: #56949f; // Rosé Pine Dawn 'foam'
        text-decoration: underline;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #232136; // Rosé Pine Moon 'base'
        color: #e0def4; // Rosé Pine Moon 'text'
    }
    textarea {
        background-color: #393552; // Rosé Pine Moon 'overlay'
    }
    a {
        color: #3e8fb0; // Rosé Pine Moon 'pine'
        text-decoration: none;
    }
    a:hover {
        color: #9ccfd8; // Rosé Pine Moon 'foam'
        text-decoration: underline;
    }
}