  <h3>Payload:</h3>
  <div>
    <form id="mainForm">
      <p>
        <input type="radio" name="payload" id="fusee.bin" value="fusee.bin">
        <label for="fusee.bin">Atmosphere {} fusee (fusee.bin)</label>
      </p>
      <p>
        <input type="radio" name="payload" id="hekate.bin" value="hekate.bin" checked>
        <label for="hekate.bin">Hekate {} - (hekate_ctcaer.bin)</label>
      </p>
      <p>
        <input type="radio" name="payload" id="tegraexplorer.bin" value="tegraexplorer.bin">
        <label for="tegraexplorer.bin">TegraExplorer v{} - (tegraexplorer.bin)</label>
      </p>
      <p>
        <input type="radio" name="payload" id="lockpick.bin" value="lockpick.bin">
        <label for="lockpick.bin">Lockpick_RCM {} - (lockpick.bin)</label>
      </p>
      <p>
        <input type="radio" name="payload" id="uploaded" value="uploaded">
        <label for="uploaded">Upload payload:</label>
        <input type="file" id="payloadUpload">
      </p>
    </form>

    <button id="goButton">Do the thing!</button>
  </div>
